---
language: perl

os:
  - linux
  # - osx

arch:
  - amd64
  # - arm64	# Gets 404 error

env:
  - AUTOMATED_TESTING=1
  - PERL_CPANM_OPT="--notest --force --skip-satisfied"

perl:
  # - "5.32"
  - "5.30"
  - "5.28"
  - "5.26"
  - "5.24"
  - "5.22"
  # - "5.20"	# Travis gets 404 errors trying to find older perls
  # - "5.18"
  # - "5.16"
  # - "5.14"
  # - "5.12"
  # - "5.10"
  # - "5.8"
  # - "5.8.7"

sudo: false

before_install:
  # - sudo apt-get update -q
  # - sudo apt-get install sqlite3 libdbi-perl libdbd-sqlite3-perl
  - cpanm -q --skip-satisfied -n Module::Build Devel::Cover::Report::Coveralls Test::Pod::Spelling::CommonMistakes Test::Portability::Files Test::Pod::Coverage

install:
  - cpanm -q --skip-satisfied -n --installdeps --notest .

script:
  perl Build.PL && ./Build && cover -test -report coveralls

jobs:
  include:
    - stage: Windows
      os: windows
      language: shell
      before_install:
        - cinst -y strawberryperl
        - export "PATH=/c/Strawberry/perl/site/bin:/c/Strawberry/perl/bin:/c/Strawberry/c/bin:$PATH"
      install:
        - cpanm --notest --installdeps .
	- cpanm -q -n --skip-satisfied Module::Build
      script:
        - perl Build.PL
        - ./Build
        - ./Build test
